<div class="control-group" id="container-{{ id }}">
    <label class="control-label" for="{{ id }}">{{ label }}</label>
    <div class="controls">
        <input type="hidden" id="{{ id }}" name="{{ name }}" value="">
        <span class="help-inline">{{ help }}</span>
    </div>
</div>
